*{
font-family: sans-serif;
}

.continer {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.skidka {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 44px;
    gap: 0px;
    opacity: 0px;
    background-color: #454f5b;
}

.skidka h1 {
    font-family: 'sans-serif';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.12em;
    text-align: left;
    color: #ffffff;
    padding-left: 452px;
    padding-right: 197px;
    /* padding-top: 9px; */
}

.skidka a h2 {
    /* padding-bottom: 9px; */
    color: #ffffff;
    font-family: 'sans-serif';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.12em;
    text-align: left;
}

.skidka a {
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 82px;
    gap: 0px;
    opacity: 0px;
    border-bottom: 1px solid #e1e6ea;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.logo {
    margin-right: 100px;
}

.header__wrapper select {
    border: none;
}

.header__wrapper p {
    font-family: 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    line-height: 23.87px;
    text-align: left;
    color: #161C24;
}

.header__wrapper select {
    font-family: 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    line-height: 23.87px;
    text-align: left;
    color: #161C24;
}

.header__wrapper p:hover {
    cursor: pointer;
    color: aqua;
}

.header__wrapper select:hover {
    cursor: pointer;
    color: aqua;
}

.glavniy {
    font-family: 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.glavniy span {
    font-family: 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #cbc8cb;
}

.H1 {
    font-family: 'sans-serif';
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    color: #000000;
}

.H1 span {
    font-family: 'sans-serif';
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
    text-align: left;
}

.categorys {
    display: flex;
    margin-bottom: 32px;
}

.categorys button {
    width: 288px;
    height: 40px;
    top: 286px;
    left: 100px;
    padding: 7px 72px 7px 72px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: transparent;
    border: 1px solid #ADD7FF
}

.categorys h2 {
    font-family: 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 31px;
}

.categorys h2 span {
    width: 9.33px;
    height: 9.33px;
    top: 2.33px;
    left: 2.33px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: #E44286;
    margin-right: 520px;
}

.categorys select {
    width: 194px;
    height: 40px;
    top: 286px;
    left: 1151px;
    padding: 7px 16px 7px 16px;
    gap: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #C4CDD5
}

.filter {
    width: 288px;
    height: 460px;
    top: 358px;
    left: 100px;
    padding: 24px 0px 0px 24px;
    gap: 10px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #C4CDD5
}

.filter button {
    width: 116px;
    height: 44px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: transparent;
    border: 1px solid #EAEAEA
}

.filter button:hover {
    cursor: pointer;
    border: 1px solid #4295E4
}
.filter select{
    width: 240px;
    height: 26px;
    gap: 0px;
    opacity: 0px;
    border: none;
    margin-top: 32px;
    border-top: 1px solid #f6f6f6;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 924px;
    gap: 20px;
    opacity: 0px;
    /* border: 1px solid black; */
}
.card{
    width: 288px;
    height: 453px;
    gap: 0px;
    opacity: 0px;    
    border: 1px solid #f4f4f4;
    margin-bottom: 40px;
    cursor: pointer;
}
.card img{
width:288px ;
height: 300px;
}
.card h2{
    font-family: 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #454F5B;
}
.card h1{
    font-family: 'sans-serif';
    font-size: 20px;
    font-weight: 600;
    line-height: 23.87px;
    text-align: left;    
    color: #161C24;
}
.card p:nth-child(1){
    font-family: 'sans-serif';
    font-size: 18px;
    font-weight: 300;
    line-height: 21.48px;
    text-align: left;   
    color: #454F5B; 
}
.card p:nth-child(2){
    font-family: 'sans-serif';
    font-size: 18px;
    font-weight: 300;
    line-height: 21.48px;
    text-align: left;   
    color: #454F5B; 
    text-decoration:line-through;
}
.details{
display: flex;
gap: 200px;
}
.details h1{
margin-top: 80px;
}
.details img{
margin-left: 100px;
margin-top: 30px;
width: 300px;
height: 400px;
}
.details h3{
text-decoration: line-through;
}
.narx{
display: flex;
align-items: center;
gap: 10px;
}
.narx h3{
color: #454F5B;
}
.karzinka_button{
    width: 288px;
    height: 40px;
    top: 286px;
    left: 100px;
    padding: 7px 72px 7px 72px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    cursor: pointer;
    background-color: #0987fd;
    border: 1px solid #0686fd
}
.cart{
    margin: 0 auto;
    width: 836px;
    height: 394px;
    top: 169px;
    left: 280px;
    gap: 0px;
    opacity: 0px;
    margin-top: 50px;
    background-color: #FFFFFF;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart__sidebar{
    width: 836px;
height: 66px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart__sidebar h1{
    font-family: 'sans-serif';
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;
    margin-top: 34px;    
    margin-left: 40px;
}
.cart__img img{
width: 136px;
height: 120px;
margin-top: 24px;
margin-left: 40px;
}
.cart__wrapper{
display: flex;
}
.cart__name h2{
    font-family: 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    margin-top: 24px;
    margin-left: 12px;
}
.cart__name p{
    font-family: 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;    
}
.cart__name p a{
color: #7db6ec
}
.udalit{
    width: 127px;
height: 30px;
top: 90px;
left: 699px;
gap: 12px;
opacity: 0px;
margin-left: 200px;
margin-top: 30px;
border: none;
background-color: transparent;
color:red;
cursor: pointer;
}
.cart__price{
margin-left: 235px;
margin-top: 68px;
font-family: 'sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #161C24;
}
.itogo{
display: flex;
}
.itogo h1{
    font-family: 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 36px;
    margin-left: 40px;
}
.itogo h1 span{
    font-family: 'sans-serif';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
.zakaz_button{
    width: 249px;
    height: 44px;
    padding: 9px 64px 9px 64px;
    gap: 10px;
    opacity: 0px;    
    margin-left: 40px;
    background-color: #4295E4;
    border-color: blue;
    cursor: pointer;
}
.itogo a button{
margin-left: 300px;
margin-top: 69px;
width: 216px;
height: 46px;
padding: 10px 24px 10px 24px;
gap: 10px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #ADD7FF;
background-color: transparent;
}
.itogo a button:hover{
background-color: #0686fd;
}
.posledniy{
display: flex;
gap: 30px;
}
.contents{
display: flex;
margin-top: 96px;
}
.content{
margin-top: 50px;
margin-right: 150px;
}
.content h1{
    font-family: 'sans-serif';
    font-size: 32px;
    font-weight: 600;
    text-align: left;
}
.content p{
    font-family: 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;    
}
.contents2{
display: flex;
margin-top: 82px;
}
.contents2_img{
margin-right: 30px;
}
.content2 h1{
    font-family: 'sans-serif';
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;    
}
.content2 p{
    font-family: 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;    
}
.content2{
margin-top: 140px;
}
.data{
    width: 1440px;
    height: 332px;
    top: 4418px;
    gap: 0px;
    opacity: 0px;
    align-items: center;
    background-color: #F2F8FF;    
    margin-top: 100px;
}
.data h1{
margin-left: 487px;
font-family: 'sans-serif';
font-size: 44px;
font-weight: 600;
line-height: 62px;
text-align: left;
padding-top: 70px;
}
.data p{
/* margin-left: 441px; */
font-family: 'sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
color:#454F5B;
}
.data form{
margin-left: 346px;
}
form input{
    width: 240px;
    height: 50px;
    gap: 0px;
    opacity: 0px;
    background-color: #e9eff6; 
    border: none;   
}
form button{
    width: 220px;
    height: 50px;
    left: 528px;
    gap: 0px;
    opacity: 0px;
    background-color: #4295E4;    
    border: none;   
}
.links{
    display: flex;
    width: 1440px;
    height: 448px;
    /* gap: 1000px; */
    opacity: 0px;
    background-color: #0d2436;    
    padding-top: 55px;
    align-items: center;
    padding-left: 100px;
    justify-content: space-between;
}
.links h1{
color: #FFFFFF;
font-family: 'sans-serif';
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
}
.links p{
    font-family: 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;    
    color: #86919a;
}